@using WhatsAppMvcComplete.Models
@model List<Conversation>

<h5 class="mb-3">Chats</h5>

<!-- START NEW CHAT -->
<form method="post" action="/Conversations/Start" class="mb-3">
    <input name="phone"
           class="form-control mb-2"
           placeholder="+919999999999"
           required />

    <input name="message"
           class="form-control mb-2"
           placeholder="Type first message..."
           required />

    <button class="btn btn-primary w-100">Start Chat</button>
</form>

<ul class="list-group">
    @if (Model != null && Model.Any())
    {
        foreach (var c in Model)
        {
            <li class="list-group-item">
                <a href="/Conversations/Chat/@c.Id"
                   class="text-decoration-none d-block">
                    <strong>@c.PhoneNumber</strong><br />
                    <small class="text-muted">
                        @c.LastMessageAt.ToLocalTime()
                    </small>
                </a>
            </li>
        }
    }
    else
    {
        <li class="list-group-item text-muted">
            No conversations yet
        </li>
    }
</ul>
